.menuNav {
  background-color: #424B54;
  padding: 1rem 0;
}

.menuList {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin-top: 5px;
}

.imageAndFirstItem {
  display: flex;
}

.menuItem .menuButton {
  color: #90DDF0;
  background-color: transparent;
  border: 2px solid #90DDF0;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menuItem .menuButton:hover {
  background-color: #555;
}

.firstMenuItem {
  margin-left: -80px;
}
